/*Nutmeg*/

:root {
--light0:rgb(234, 225, 215);
--light1:rgb(230, 219, 208);
--light2:rgb(220, 205, 188);
--light3:rgb(213, 195, 175);

--branch0: rgb(50, 8, 3);
--branch1: rgb(128,0,0);
--branch2: rgb(139,0,0);
--branch3: rgb(165,42,42);
--branch4: rgb(178,34,34);
--branch5:rgb(199 85 75);

--leaves:rgb(10 50 10);

}

body {
    --accent-h: 6; /* --purple #754f5b */
    --accent-s: 70%;
    --accent-l: 38%;

    --link-decoration:                none;
    --link-decoration-hover:          none;
    --link-external-decoration:       none;
    --link-external-decoration-hover: none;

    --tag-decoration:                 none;
    --tag-decoration-hover:           none;
    --tag-padding-x:                  .5em;
    --tag-padding-y:                  .2em;
    --tag-radius:                     .5em;
    --checkbox-radius:                0;
}

.theme-light {

    --color-red: rgb(174, 81, 94);
    --color-orange: rgb(166, 89, 79);
    --color-yellow: rgb(174, 81, 94);
    --color-green: rgb(73, 124, 93);
    --color-cyan: rgb(82, 116, 151);
    --color-blue: rgb(82, 116, 151);
    --color-purple: rgb(83, 27, 147);
    --color-pink: rgb(174, 81, 94);

    --background-primary:            var(--light0);
    --background-primary-alt:        var(--light1);
    --background-secondary:          var(--light1);
    --background-secondary-alt:      var(--light2);
    --background-modifier-border:    var(--light2);

    --cursor-line-background:        rgba(var(--branch2), 0.2);

    --h1-color: var(--branch0);
    --h2-color:var(--branch1);
    --h3-color:var(--branch2);
    --h4-color:var(--branch3);
    --h5-color:var(--branch4);
    --h6-color:var(--branch5);

    --link-url:                      var(--purple);
    --text-normal:                   var(--branch0);

    --text-highlight-bg:             var(--branch0);
    --text-highlight-fg:             var(--light0);

    --text-accent:                   var(--orange);
    --text-accent-hover:             var(--branch1);

    --tag-color:                     var(--branch0);
    --tag-background:                var(--light2);
    --tag-background-hover:          var(--light1);

} 
